{% extends 'baseabc.html.twig' %}

{% block body %}
    <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
    <h3>Categorias</h3>
    </div>
    </div>

    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--1-col">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                    onclick="window.location.href='{{ path('categoria_new') }}'">
                Nuevo
            </button>
        </div>
        <div class="mdl-cell mdl-cell--1-col"></div>
        <div class="mdl-cell mdl-cell--1-col"></div>
        <div class="mdl-cell mdl-cell--1-col"></div>
        <div class="mdl-cell mdl-cell--1-col"></div>
        <div class="mdl-cell mdl-cell--1-col"></div>
        <div class="mdl-cell mdl-cell--1-col"></div>
        <div class="mdl-cell mdl-cell--1-col"></div>
        <div class="mdl-cell mdl-cell--1-col"></div>
        <div class="mdl-cell mdl-cell--1-col"></div>
        <div class="mdl-cell mdl-cell--1-col"></div>
        <div class="mdl-cell mdl-cell--1-col"></div>
    </div>

    <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">Nombre</th>
                <th class="mdl-data-table__cell--non-numeric">Activo</th>
                <th class="mdl-data-table__cell--non-numeric">Operaciones</th>
            </tr>
        </thead>
        <tbody>
        {% for categorium in categorias %}
            <tr>
                <td class="mdl-data-table__cell--non-numeric">{{ categorium.nombre }}</td>
                <td class="mdl-data-table__cell--non-numeric">{% if categorium.activo %}Si{% else %}No{% endif %}</td>
                <td>
                    <a href="{{ path('categoria_edit', { 'id': categorium.id }) }}"><i class="material-icons">edit</i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>

    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
            <a href="{{ path('producto_index') }}">Volver a productos</a>
        </div>
    </div>


{% endblock %}
