<span class="mdl-layout-title">Cobranza</span>
<nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="{{ path('panelorden_indexfact') }}"><i class="material-icons mdl-navigation__item-icon">content_paste</i>&nbsp;&nbsp;Ordenes de Trabajo (Con Factura)</a>
    <a class="mdl-navigation__link" href="{{ path('panelorden_indexesp') }}"><i class="material-icons mdl-navigation__item-icon">content_paste</i>&nbsp;&nbsp;Ordenes de Trabajo (Especiales)</a>
    <a class="mdl-navigation__link" href="{{ path('panelpago_index') }}"><i class="material-icons mdl-navigation__item-icon">attach_money</i>&nbsp;&nbsp;Pagos</a>
</nav>