<span class="mdl-layout-title">Vendedor</span>
<nav class="mdl-navigation">
    <!--a class="mdl-navigation__link" href="{{ path('panelprincipal_index') }}"><i class="material-icons mdl-navigation__item-icon">home</i>&nbsp;&nbsp;Principal</a-->
    <a class="mdl-navigation__link" href="{{ path('panelcliente_index') }}"><i class="material-icons mdl-navigation__item-icon">thumb_up</i>&nbsp;&nbsp;Clientes</a>
    <a class="mdl-navigation__link" href="{{ path('panelcotizacion_index') }}"><i class="material-icons mdl-navigation__item-icon">shopping_cart</i>&nbsp;&nbsp;Cotizaciones</a>
    <a class="mdl-navigation__link" href="{{ path('panelorden_index') }}"><i class="material-icons mdl-navigation__item-icon">content_paste</i>&nbsp;&nbsp;Ordenes de Trabajo</a>
</nav>